In [ ]:
# Exercise 1 - Variable Updating
a = 2
a = 4
a = 5
print(a+a+a)

15

In [ ]:
# Exercise 2 - Naming Rules - Executing the code will throw an error.

_a = 1
print(_a)
_a2 = 1
print(_a2)
2a = 4
print(2a)

SyntaxError: ignored

In [ ]:
# Exercise 3 - Compare vs Assign - Executing the code will throw an error. Can you explain why?

a = 1
b = 2
print(a==b)
print(b==c)

False

NameError: ignored

In [ ]:
# Exercise 4 - TypeError - Fix the last line so that it outputs the sum of 1 and 2. Please do not change the first two lines, only the last one.

a = "1"
b = 2
print (int(a)+b)

3

In [ ]:
# Exercise 5 - Sequence Indexing - Complete the script so that it prints out the second item of the list.

letters = ["a", "b", "c", "d", "e", "f", "g", "h", "i", "j"]
letters[1]

'b'

In [ ]:
# Exercise 6 - Sequence Slicing - Please complete the script so that it prints out a list slice containing items d , e , and f.

letters = ["a", "b", "c", "d", "e", "f", "g", "h", "i", "j"]
letters[3:6]

['d', 'e', 'f']

In [ ]:
# Exercise 7 - Sequence Slicing - Please complete the script so that it prints out the first three items of list letters.

letters = ["a", "b", "c", "d", "e", "f", "g", "h", "i", "j"]
letters[:3]

['a', 'b', 'c']

In [ ]:
# Exercise 8 - Negative Indexing - Complete the script so that it prints out the letter i  using negative indexing.

letters = ["a", "b", "c", "d", "e", "f", "g", "h", "i", "j"]
letters[-2]

'i'

In [ ]:
# Exercise 9 - Negative Slicing - Complete the script so that it prints out a list slice containing the last three items of the list letters .

letters = ["a", "b", "c", "d", "e", "f", "g", "h", "i", "j"]
letters[-3:]

['h', 'i', 'j']

In [ ]:
# Exercise 10 - Sequence Item Picking - Complete the script so that it prints out a list slice containing letters a, c, e, g, and i.

letters = ["a", "b", "c", "d", "e", "f", "g", "h", "i", "j"]
for item in range(0,len(letters),2):
    print(letters[item], end = ' ')

print(letters[::2])

a c e g i ['a', 'c', 'e', 'g', 'i']

In [ ]:
# Exercise 11 - Range - Create a script that generates and prints a list of numbers from 1 to 20. Please do not create the list manually.
num = range(1,21)
print(list(num))

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20]

In [ ]:
# Exercise 12 - Ranges - Complete the script so that it produces the expected output. Please use my_range  as input data.
l = []
for i in range(1,21):
  my_range = i*10
  l.append(my_range)
print(l)

[10, 20, 30, 40, 50, 60, 70, 80, 90, 100, 110, 120, 130, 140, 150, 160, 170, 180, 190, 200]

In [ ]:
# Exercise 12 - Ranges - Complete the script so that it produces the expected output. Please use my_range  as input data.
my_range = range(1,21)
print([10 * x for x in my_range])

[10, 20, 30, 40, 50, 60, 70, 80, 90, 100, 110, 120, 130, 140, 150, 160, 170, 180, 190, 200]

In [ ]:
# Exercise 13 - Ranges of Strings - Complete the script,so it generates the expected output using my_range as input data.
# Please note that the items of the expected list output are all strings.

my_range = range(1,21)
print([str(x) for x in my_range])

['1', '2', '3', '4', '5', '6', '7', '8', '9', '10', '11', '12', '13', '14', '15', '16', '17', '18', '19', '20']

In [ ]:
# Exercise 13 - Ranges of Strings - Complete the script,so it generates the expected output using my_range as input data.
# Please note that the items of the expected list output are all strings.

my_range = range(1,21)
print(list(map(str,my_range)))

['1', '2', '3', '4', '5', '6', '7', '8', '9', '10', '11', '12', '13', '14', '15', '16', '17', '18', '19', '20']

In [ ]:
# Exercise 14 - Removing Duplicates - Complete the script so that it removes duplicate items from the list a.

a = ["1", 1, "1", 2]
print(list(set(a)))

[1, 2, '1']

In [ ]:
# Exercise 15 - Simple Dictionary - Create a dictionary that contains the keys a  and b  and their respective values 1  and 2.

z = {'a':1,'b':2}
print(z)

{'a': 1, 'b': 2}

In [ ]:
# Exercise 16 - Accessing Dictionary Items - Please complete the script so that it prints out the value of key b.

d = {'a':1,'b':2}
d['b']

2

In [ ]:
# Exercise 17 - Dictionary Items Sum Up - Calculate the sum of the values of keys a  and b.

d = {"a": 1, "b": 2, "c": 3}
d['a']+d['b']

3

In [ ]:
# Exercise 18 - Why key error

#d = {"Name": "John", "Surname": "Smith"}
#print(d["Smith"])

d = {"Name": "John", "Surname": "Smith"}
print(d["Surname"])

Smith

In [ ]:
# Exercise 19 - Add Dictionary Key - Add a new pair of key (e.g. c ) and value (e.g. 3 ) to the dictionary and print out the new dictionary.

d = {"a": 1, "b": 2}
d["c"] = 3
print(d)

{'a': 1, 'b': 2, 'c': 3}

In [ ]:
# Exercise 20 - Apply Function to Dictionary Items - Calculate the sum of all dictionary values.

d = {"a": 1, "b": 2, "c": 3}
print(sum(d.values()))

6

In [ ]:
# Exercise 21 - Dictionary Filtering - Filter the dictionary by removing all items with a value of greater than 1.

d = {"a": 1, "b": 2, "c": 3}
d = dict((key, value) for key, value in d.items() if value <= 1)
print(d)

{'a': 1}

In [ ]:
# Exercise 26 - Print Range - Make a script that prints out numbers from 1 to 10

for i in range(11):
  print(i, end = ',')

0,1,2,3,4,5,6,7,8,9,10,

In [ ]:
# Exercise 27 - Acceleration Calculator

def acc_cal(v1,v2,t1,t2):
  result = (v2-v1)/(t2-t1)
  return result

osc = acc_cal(0,10,0,20)
print(osc)

0.5

In [ ]:
# Exercise 28 - TypeError -  Why is there an error in the code, and how would you fix it?

def foo(a, b):
    return (a + b)

#x = foo(2,3) * 10
x = foo(2,3) * 10
x

50

In [ ]:
# Exercise 29 - Liquid Volume Calculator

from math import pi
def liq_vol(h, r):
  result = ((4*pi*r**3)/3) - (pi*h**2*(3*r - h)/3)
  return result

ans = liq_vol(2,10)
ans

4071.5040790523717

In [ ]:
# Exercise 30 - Arguments -  Why do you get an error, and how would you fix it?

#def foo(a=2, b):
    #return a + b
def foo(b, a = 2):
    return a + b

In [ ]:
# Exercise 31 - Function Blueprint - Why is there an error in the code, and how would you fix it?

#def foo(a=1, b=2):
    #return a + b
#x = foo - 1

def foo(a=1, b=2):
    return a + b

x = foo() - 1
x

2

In [ ]:
# Exercise 32 - Global Variables - What will the following script output? Please try to do this by mind if you can.

c = 1
def foo():
    return c
c = 3
print(foo())

c = 10
print(foo())

a = 2
print(foo())

3
10
10

In [ ]:
# Exercise 33 - Sales Commission Calculator

base_salary = int(input("Enter the base salary: "))
sales = int(input("Enter the sales amount: "))

if sales <= 10000:
    commission = 0.05 * sales
elif 10000 < sales <= 20000:
    commission = 0.07 * sales
else:
    commission = 0.10 * sales

total_earnings = base_salary + commission
print(f"Total Earnings: {total_earnings}")

Enter the base salary: 15000
Enter the sales amount: 5000
Total Earnings: 15250.0

In [ ]:
def calculate_total_salary(base_salary, sales):
    """
    Calculate total earnings including commission based on sales.

    """
    if sales <= 10000:
        commission = 0.05 * sales
    elif sales <= 20000:
        commission = 0.07 * sales
    else:
        commission = 0.10 * sales

    return base_salary + commission

# Test Case
print(calculate_total_salary(20000, 25000))
print(calculate_total_salary(10000,5000))

22500.0
10250.0

In [ ]:
# Exercise 34 - Loan EMI Calculator

principal = int(input("Enter the principal amount: "))
roi = float(input("Enter the ROI: "))
tenture = int(input("Enter the month: "))

value = ((1+(roi/100))**tenture)
EMI = (principal*roi*value)/(value - 1)
EMI = EMI/12
print(round(EMI,4))

Enter the principal amount: 100
Enter the ROI: 4.5
Enter the month: 4
232.2864

1.1925186006249997

In [ ]:
'''3. Temperature Alert System
Scenario: A IoT device records temperatures every hour. If the temperature exceeds 35°C for 3 consecutive hours, trigger an alert.

Task: Given a list of hourly temperatures, return True if an alert should be triggered.'''

In [ ]:
'''4. Inventory Restocking Logic
Scenario: A store restocks products when inventory falls below a threshold. However, suppliers offer discounts for bulk orders:

Order 100+ units: 10% discount

Order 500+ units: 20% discount

Task: Write a function that takes current_stock, threshold, and unit_price to calculate the restocking cost after discounts.'''

In [ ]:
#5. A/B Test Statistical Significance
'''Scenario: An e-commerce company runs an A/B test where:

Group A (1000 users) has a 15% conversion rate.

Group B (1000 users) has an 18% conversion rate.

Task: Calculate the Z-score to determine if the difference is statistically significant (use the formula for two-proportion Z-test).'''